## Q1. What are the characteristics of the tuples? Is tuple immutable?

### ANS-  
      Characteristicsa of tuple-
              1) tuples  are created by the '()' braces
              2) tuple supports of all types in characters
                  eg- int, string, complex, float...
              3) tuple does not support the item reassignment
              4) we can check the specific item whether it  is present inside or not by using "in" inbuild operation
     YES, Tuple is immutable becoz we can't reassign the value with the help of index.

## Q2. What are the two tuple methods in python? Give an example of each method. Give a reason why tuples have only two in-built methods as compared to Lists.

### ANS-
        Tuple methods-
                1) count- it is used to check how many times the specific element is iiterated.
                2) index- it is used to check the index value of the specific element.
        There are only two methodds available inside the tuple becoz tuple is immutable so methods like append, add, pop is not available inside the tuple.

In [3]:
## Count
t1=(1,2,3,4,5)
t1.count(2)

1

In [5]:
t1.index(5)

4

## Q3. Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove duplicates from the given list.

## List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

### ANS-
        set do not aloud the dublicate items inside it becoz it stores the information in neat and clean manner.

In [1]:
l1 = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [51]:
##set=(l1)

In [3]:
s1=set(l1)
l2=list(s1)
print(l2)
print(s1)

[1, 2, 3, 4]
{1, 2, 3, 4}

In [13]:
s1=set(l1)
print(s1)

l2=list(s1)
print(l2)

{1, 2, 3, 4}
[1, 2, 3, 4]

# Q4. Explain the difference between the union() and update() methods for a set. Give an example of each method.

### ANS
        union() - it can add the elements in the  existing set but it does not affect the earlier set.
        update() - it not only adds the elements in the existing set but also it updates the existing set with new elements.

In [2]:
## Eg-
s1={1,2,3,4,5,6,7,8}
s2={8,7,6,5,4,3,2,1}

In [4]:
s1.update('pratham')
s1

{1, 2, 3, 4, 5, 6, 7, 8, 'a', 'h', 'm', 'p', 'r', 't'}

In [6]:
s2.union('pratham')

{1, 2, 3, 4, 5, 6, 7, 8, 'a', 'h', 'm', 'p', 'r', 't'}

In [7]:
s2

{1, 2, 3, 4, 5, 6, 7, 8}

# Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

# ANS-
        Dictionary is the collection in python programmming.
        dictionary is in the form of "keys and values"
        keys are immutable
        
    Dictionaries are unordered in nature as the order of the keys is not fixed

In [8]:
#Eg-
d1={'key':'value','key1':'value2'}

In [9]:
d1

{'key': 'value', 'key1': 'value2'}

# Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level nested dictionary.

### ANS-
         Yes we can creater the nested dictionary

In [14]:
#Eg-
d2={'key1' : {'key2' : {'value2': {'key3', 'value3'}}}}

In [15]:
d2

{'key1': {'key2': {'value2': {'key3', 'value3'}}}}

# Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of the key as this list ['Python', 'Machine Learning’, 'Deep Learning']

In [35]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [36]:
dict1.setdefault('topics' , ['Python','Machine learing','Deep learing'])

['Python', 'Machine learing', 'Deep learing']

In [38]:
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'topics': ['Python', 'Machine learing', 'Deep learing']}

# Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display these three view objects for the given dictionary. 
# dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [39]:
#Eg-
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [40]:
dict1.keys()

dict_keys(['Sport', 'Teams'])

In [42]:
dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [43]:
dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])